{% include 'parts/header.twig' %}

<section class="hero">
	<div class="wrapper">
		<div class="intro">
			<!-- TODO: Matter.js hero here with the homepage node icons? -->
			<h1>Discover quality content for web designers and developers.</h1>
			<p>Tutorials, resources, industry news, case-studies, thought-pieces and more brought to you by the wonderful Webwide community.</p>
		</div>
	</div>
</section>

<div id="main" role="main">
	<div class="container">
		{{ content }}
	</div>
</div>

{% include 'parts/footer.twig' %}
