{% include 'parts/header.twig' %}

<section class="hero">
	<h1>Hello</h1>
</section>

<div id="main" role="main">
	<div class="container">
		{{ content }}
	</div>
</div>

{% include 'parts/footer.twig' %}
