{% extends 'partials/base.html.twig' %}

{% set tag = uri.params | split('tag:')[1] %}

{% set collection = page.collection() %}

{% block hero %}
    {% include 'partials/hero.html.twig' %}
{% endblock %}

{% block body %}

{% if tag %}
    This is a #{{ tag }} taxlist
{% endif %}

    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">

        {% embed 'partials/layout.html.twig' with {blog: page} %}
            {% block item %}

                <div class="bricklayer">
                {% for child in collection %}
                    {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                {% endfor %}
                </div>

                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

            {% endblock %}

            {% block sidebar %}
                {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
        {% endembed %}
        </section>
    </section>

{% endblock %}



