{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set tag = uri.params | split('tag:')[1] %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}

{% block body %}

    {% if tag == false %}
        {% include 'partials/hero.html.twig' %}
    {% endif %}
    <section class="page-content alt-bg">
        <div class="wrapper">

            <div class="with-sidebar">
                <div class="main">
                    {% if tag %}
                        <h2>Articles filed under <span class="tag">{{ tag }}</span></h2>
                    {% else %}
                        <h1>Latest Articles</h1>
                    {% endif %}

                    {% block item %}
                        <div class="bricklayer">
                        {% for child in collection %}
                            {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                        {% endfor %}
                        </div>

                        {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                            <div id="listing-footer">
                                {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
                <aside class="sidebar">
                    {% block sidebar %}
                        {% include 'partials/sidebar.html.twig' %}
                    {% endblock %}
                </aside>
            </div>
        </div>
    </section>

    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>

{% endblock %}



