// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
	   @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
	   @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
	   @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
	   @content;
   }
}

// Padding & margin utilities, thanks to https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9
$spaceamounts: (-100, -75, -50, -45, -40, -35, -30, -25, -20, -15, -10, -5, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
	.m-#{str-slice($side, 0, 1)}-#{$space} {
	  margin-#{$side}: #{$space}px !important;
	}
  
	.p-#{str-slice($side, 0, 1)}-#{$space} {
	  padding-#{$side}: #{$space}px !important;
	}
  }
}

.sm-hide {
	display: none !important;
	
	@include sm {
		display: inline-block !important; 
	}
}

.flex {
	display: flex;
}