@import "reset";
@import "settings";
@import "utilities";

html {
	font-size: 16px;
	font-family: $sans-font;
	color: $text-regular;
}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: $text-dark;
}

.wrapper {
	max-width: 1200px;
	padding: 0 20px;
	margin: auto;
}

header.masthead {
	background: #fff;
	padding: 15px 0;	
	
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.logo {
		display: flex;
		align-items: center;
		flex: 1 0;
		
		img {
			height: 1.4rem;
			padding: 0 0.8rem 0.1rem 0;
			border-right: solid $text-light 2px;
			margin-right: 0.8rem;
		}
		
		span {
			font-size: 1.2rem;
			color: $text-regular;
			
			> span {
				background: $webwide-primary;
				color: #fff;
				border-radius: 5px;
				font-size: 0.7rem;
				text-transform: uppercase;
				padding: 4px 5px;
				line-height: 1;
				vertical-align: middle;
				margin-left: 0.15rem;
			}
		}
	}
	
	.links {
		ul {
			list-style: none;
			display: flex;
			align-items: center;
			font-size: 0.95rem;
			line-height: 1;
			
			a {
				text-decoration: none;
				color: $text-dark;
				margin-left: 30px;
			}
			
			.highlight {
				border: $webwide-secondary solid 1px;
				border-radius: 5px;
				padding: 0.6rem;
				color: $webwide-secondary;
			}
		}
	}
}

section.hero {
	background: $text-dark;
	text-align: center;
	overflow: hidden;
	position: relative;
	
	.intro {
		max-width: $wrapper-width-narrow;
		margin: auto;
		position: relative;
		padding: 150px 0 160px;
		z-index: 10;
		pointer-events: none;
		
		h1 {
			color: #fff;
			font-size: 3rem;
			line-height: 1.1;
			margin: 0;
		}
		
		p {
			color: #fff;
			opacity: 0.6;
			font-size: 1.5rem;
			line-height: 1.3;
			margin-top: 1rem;
		}
	}
}