// Font Import
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Colours
$webwide-blue: #0076da;
$webwide-green: #00cb39;

// Bulma Global Variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $webwide-blue;
$success: $webwide-green;

// Bulma Component Variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-padding-vertical: 0.5rem;
