/* Colours */
$webwide-primary: #0076da;
$webwide-primary-dark: darken(#0076da, 20%);
$webwide-secondary: #008a27;

$text-dark: #232729;
$text-regular: lighten(#232729, 15%);
$text-light: lighten(#232729, 65%);

/* Fonts */
$sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
$serif-font: serif;
$mono-font: monospace;

/* Layout */
$wrapper-width: 1220px;
$wrapper-width-narrow: 800px;

$screen-sm-min: 500px;
$screen-md-min: 900px;
$screen-lg-min: 1140px;