@import "settings";
@import "bulma/bulma";


.alt-bg {
    background: lighten($primary, 55.5%);
}

section.hero {
	text-align: center;
	overflow: hidden;
	position: relative;

	.intro {
		margin: auto;
		position: relative;
		padding: 150px 0 160px;
		z-index: 10;
		pointer-events: none;

		h1 {
			color: #fff;
			font-size: 3rem;
			line-height: 1.1;
			margin: 0;
		}

		p {
			color: #fff;
			opacity: 0.75;
			font-size: 1.5rem;
			line-height: 1.3;
			margin-top: 1rem;
		}
	}
}
